body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(48, 3, 34);
text-align: center;
color: rgb(49, 49, 53);
margin: 0auto;
}
form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius:  0px;
    color: rgb(49, 48, 53);
    background-color: rgb(216, 203, 203);
    text-align: center;
    border-radius: 25px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

input{
    padding: 10px;
    border: 0;
    border-radius: 25px;

}
h1 {
    padding: 10px;
    border: 10px;
    margin: 0 auto;
    color: rgb(145, 116, 140);
    font-size: 20px;
}
h2{
    font-size: 15px;
    color: rgb(214, 180, 211);
}
section{
    text-align: center;
}
input:hover{
    background-color: rgba(128, 128, 128, 0.438);
}
label{
    color: rgb(5, 88, 84);
}
i{
    color: rgb(5, 82, 78);
}